.bold {
  font-weight: bold;
}

.widget {
  justify-content: space-around;
  margin-bottom: 25px;
  border: solid 3px #333;
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  box-shadow: 0 3px #333;
}
.not-active {
  font-family: "Montserrat Subrayada", sans-serif;
  color: #8b0000;
  font-size: 100px;
  position: absolute;
  background-color: #333;
  z-index: 2;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  text-shadow: 0 4px #8b0000;
}

.cpu-widget {
  margin-top: 20px;
}

.cpu,
.mem {
  background-color: white;
  position: relative;
  text-align: center;
}

.cpu-text,
.mem-text {
  position: absolute;
  transform: translate(-45%, -50%);
  top: 50%;
  left: 50%;
  font-size: 30px;
}

.canvas-wrapper {
  position: relative;
}
